:root {
    --text: rgb(238, 236, 236);
    --lg: 18px;
    --md: 16px;
    --sm: 14px
    --background: #16394c
}
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html {
    font: 62.5%;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #16394c;
    color: var(--text);
    display: grid;
}
#Country-section {
    text-align: center;
    padding-top: 20px;
    border-bottom: 10px;
}
#status-weather {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    width: 100vw;
    text-align: center;
    grid-template-rows: 200px;
    padding-bottom: 60px;
}
#status-weather .weather-logo {
    display: grid;
    align-items: end;
}
#status-weather .temperature-data {
    display: grid;
    align-items: center;
}
#status-weather .weather-data {
    display: grid;
    align-items: center;
}

#Future-temperature-section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}
#Future-temperature-section .temperature-day {
    display: grid;
    grid-row-start: 3;
    grid-row-end: 4;
}
