:root {
    --text: rgb(238, 236, 236);
    --lg: 18px;
    --md: 16px;
    --sm: 14px
    --background: #16394c
}
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html {
    font: 62.5%;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #16394c;
    color: var(--text);
    display: grid;
}
#Country-section {
    text-align: center;
    padding-top: 20px;
    border-bottom: 10px;
}
#status-weather {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    width: 100vw;
    text-align: center;
    grid-template-rows: 400px;
    padding-bottom: 60px;
    align-items: center;
}
#status-weather img {
    width: 200px;
    height: 200px;
    margin-top: 50px;
}
#status-weather .weather-logo h2 {
    display: grid;
    align-items: end;
}
#status-weather .temperature-data {
    display: grid;
    align-items: center;
}
#status-weather .weather-data {
    display: grid;
    grid-template-rows: 50px 50px 50px;
    align-items: center;
    justify-items: center;
}
